*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: aqua;
}

div{
    height: 200px;
    width: 200px;
    border: solid;
    padding: 100px;
    margin: 50px;
}